/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);
  
    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
  
    /* Size */
    --size-max-width: 1200px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  p,
  ul {
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: var(--color-text);
  }
  
  button {
    background-color: transparent;
    outline: 0;
    border: 0;
  }
  
  button:focus {
    outline: 1px solid transparent;
  }
  
  /* Common */
  .section {
    padding: 4rem;
    text-align: center;
  }
  
  .max-container {
    max-width: var(--size-max-width);
    margin: auto;
  }
  
  .title {
    font-size: 2.5rem;
    margin: 1rem 0;
  }
  
  .description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  
  /* Header */
  .header {
    background-color: transparent;

    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all 300ms ease;
    background-color: var(--color-primary);
    color: var(--color-text);
  }
  
  .header--dark {
    background-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .header__logo__img {
    width: 36px;
    height: 36px;
  }
  
  .header__logo__title {
    font-size: 1.8rem;
  }
  
  .header__toggle {
    display: none;
    color: var(--color-white);
    font-size: 1.5rem;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
  }
  
  .header__menu {
    display: flex;
    gap: 4px;
  }
  
  .header__menu__item {
    display: block;
    padding: 8px 16px;
    border-bottom: 1px solid transparent;
  }
  
  .header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
  }
  
  .header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
  }
  
  /* Home */
  #home {
   
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
  }
  
  .home__avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
  }
  
  .home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .home__title--strong {
    color: var(--color-accent);
  }
  
  .home__description {
    font-size: 1.3rem;
  }
  
  .home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
  }
  
 
  /* Footer */
  #contact {
    background-color: var(--color-primary);
    color: var(--color-text);
  }
  
  .contact__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
  }
  
  .contact__link {
    transition: color 250ms ease-in;
  }
  
  .contact__link:hover {
    color: var(--color-accent);
  }
  
  @media screen and (max-width: 768px) {
    .section {
      padding: 3rem 2rem;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .description {
      font-size: 1rem;
    }
  
    .header {
      flex-direction: column;
      align-items: start;
      background-color: var(--color-primary);
    }
  
    .header__toggle {
      display: block;
    }
  
    .header__menu {
      display: none;
      flex-direction: column;
      text-align: center;
      margin: 1rem 4rem;
      gap: 1rem;
    }
  
    .header__menu.open {
      display: flex;
    }
  
    .header__nav {
      width: 100%;
    }
  
    #home {
      padding-bottom: 3rem;
    }
  
    .home__title {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }
  
    .majors {
      flex-direction: column;
      align-items: center;
    }
  
    .major {
      max-width: 25rem;
    }
  
    .job {
      justify-content: center;
    }
  
    .skills {
      grid-template-columns: 1fr;
    }
  
    .categories {
      flex-direction: column;
    }
  
    .category {
      width: 100%;
    }
  
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .testimonial {
      flex-direction: column;
    }
  
    .testimonial:nth-child(even) .testimonial__img {
      order: 0;
    }
  
    .arrow-up {
      font-size: 2rem;
      width: 3rem;
      height: 3rem;
      bottom: 1.5rem;
      right: 1.5rem;
    }
  }
  .about {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 400px;
    height: 500px;
  }
  .bookinginput,
  .bookingselect {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  .bookingbutton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .bookingsection{
    margin: 30px auto 30px auto;
    width: 1000px;

  }
  .bookingdiv{
    background-color: var(--color-black);
    width: 400px;
    height: 500px;
    color: var(--color-white);
    padding: 30px 30px 30px 30px;

  }
  .bookingform{
    width: 300px;
    height: 400px;

  }